<header class="bg-black text-white p-4 flex justify-between items-center">
    <a href="/admin/"><h1 class="text-2xl font-bold">Mob N Access</h1></a>
    {{!-- <span>Hi Admin</span> --}}
    {{#if admin}}
    <button onclick=location.href='/admin/logout'>Logout</button>
    {{/if}}
</header>
