<section>
  <div class="min-h-screen bg-white flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-3">
    <!-- Mob N Access Heading -->
    <h1 class="text-center ms-7 font-extrabold text-2xl text-indigo-600 tracking-tight">
      Mob N Access
    </h1>

    <!-- Forgotten Password Section -->
    <div class="bg-gray-300 py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <h2 class="text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
        Reset your password
      </h2>
      <p class="text-center text-sm text-gray-600 mt-2">
        Enter your email address and we will send you a code to reset your password.
      </p>

      <!-- Forgotten Password Form -->
      <form class="space-y-6 mt-6" action="/users/forgottenPassword" method="POST">
        <!-- Email Input -->
        <div>
          <label for="email" class="block text-sm font-medium leading-6 text-gray-900">
            Email address
          </label>
          <div class="mt-2">
            <input id="email" name="email" type="email" autocomplete="email" required class="block w-full rounded-md border-gray-300 py-2 text-gray-900 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
          </div>
        </div>

        <!-- Send Button -->
        <div>
          <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Send
          </button>
        </div>
      </form>

      <!-- Back to Sign In -->
      <p class="mt-6 text-center text-sm text-gray-500">
        <a href="/users/login" class="font-semibold text-indigo-600 hover:text-indigo-500">
          Back to Sign In
        </a>
      </p>
    </div>
  </div>
</div>

</section>