<section>
  <div class="min-h-screen bg-white flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-3">
    <!-- Mob N Access Heading -->
    <h1 class="text-center ms-7 font-extrabold text-2xl text-indigo-600 tracking-tight">
      Mob N Access
    </h1>

    <!-- New Password Section -->
    <div class="bg-gray-300 py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <h2 class="text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
        Reset Password
      </h2>
      <p class="text-center text-sm text-black mt-2">
        Please enter your new password below.
      </p>

      <!-- Password Form -->
      <form class="space-y-6 mt-6" onsubmit="resetPassword(event)">
        <p class="text-red-500 font-bold" id="error"></p>
        <div>
          <label for="old-password" class="block text-sm font-medium text-gray-700">Old Password</label>
          <div class="mt-2">
            <input id="old-password" name="oldPassword" type="password" class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
          </div>
        </div>
        <!-- New Password -->
        <div>
          <label for="new-password" class="block text-sm font-medium text-gray-700">New Password</label>
          <div class="mt-2">
            <input id="new-password" name="newPassword" type="password" class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
          </div>
        </div>

        <!-- Confirm Password -->
        <div>
          <label for="confirm-password"class="block text-sm font-medium text-gray-700">Confirm Password</label>
          <div class="mt-2">
            <input id="confirm-password" name="confirmPassword" type="password" class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
          </div>
        </div>

        <!-- Submit Button -->
        <div>
          <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</section>

<script>
  function resetPassword(e){

    e.preventDefault();

    const oldPassword=document.getElementById("old-password").value
    const newPassword=document.getElementById("new-password").value
    const confirmPassword=document.getElementById("confirm-password").value
    isValid=true

    {{!-- if(!oldPassword){
      isValid=false
      document.getElementById("error").innerHTML="Enter the old password"
    } --}}
     if(!newPassword){
      isValid=false
      document.getElementById("error").innerHTML="Enter the new password"
    }
     if(!confirmPassword){
      isValid=false
      document.getElementById("error").innerHTML="Enter the confirm password"
    }

    if(oldPassword.length < 6 || !/[A-Z]/.test(oldPassword) || !/[0-9]/ || !/[!@#$%^&*(),.?":{}|<>]/.test(oldPassword)){
      isValid=false
      document.getElementById("error").innerHTML="Old password should be more than 6 character or it should have special character"
    }
    if(newPassword.length < 6 || !/[A-Z]/.test(newPassword) || !/[0-9]/ || !/[!@#$%^&*(),.?":{}|<>]/.test(newPassword)){
      isValid=false
      document.getElementById("error").innerHTML="New password should be more than 6 character or it should have special character"
    }
    if(confirmPassword.length < 6 || !/[A-Z]/.test(confirmPassword) || !/[0-9]/ || !/[!@#$%^&*(),.?":{}|<>]/.test(confirmPassword)){
      isValid=false
      document.getElementById("error").innerHTML="Confirm password should be more than 6 character or it should have special character"
    }
    if(newPassword!=confirmPassword){
      isValid=false
      document.getElementById("error").innerText="New password and confirm password are not correct"
    }
    if(!newPassword && !confirmPassword){
      isValid=false
      document.getElementById("error").innerText="Fill all fields"
    }

    if(isValid){
      fetch('/users/userresetpassword',{
        headers:{
          'Content-Type':'application/json'
        },
        method:"POST",
        body:JSON.stringify({
          newPassword,
          oldPassword
        })
      }).then((response)=>response.json()).then((response)=>{
        if(response.status){
            Swal.fire({
            icon: 'success',
            title: 'Success!',
            text: response.message,
            confirmButtonText: 'OK'
          }).then(()=>{
            location.href='/users/login'
          })

        }else{
            Swal.fire({
            icon: 'error',
            title: 'Error!',
            text: response.message,
            confirmButtonText: 'OK'
          }).then(()=>{
            location.reload();
          })

        }
      })
    }
  }
</script>